{% load static %}

<!DOCTYPE html>
<html> 
<head> 
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="{% static 'cloudservice/style.css' %}"/>
</head>

<body>
    <form action='{% url "sendurl" %}', method="POST">
        <h4>현재 HOT Version : {{ version }} </h4> 

        {% csrf_token %} 
        {{form.as_p}}
        <br/>

        <input type='submit' value='Submit'>
        <br></br>
        <p></p>

        {% comment %} <h3>Vesion 목록</h3>
        <div class='version_list'>

        </div>
        
        <p></p>

        <h3>HOT 파일 내용</h3>
        <div class='HOT'>
            
        </div> {% endcomment %}
    </form>
</body>
</html>

<!-- {% url "sendurl" %} -->